.footer {
    padding-left: 62px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer img:first-child {
    padding-left: 3%;
}

.footer img {
    padding-left: 10%;
    width: 25px;
    height: 25px;
}
